html {
	font-family: 'Josefin Sans', sans-serif;
}

body {
	text-align: center;
	background-color: #aecc77;
}

body h1 {
	font-size: 30px;
	text-transform: uppercase;
}

body button {
	font-size: 20px;
	color: #eaebed;
	padding: 10px 20px;
	border: none;
	box-shadow: 0;
	border-radius: 5px;
	margin-bottom: 20px;
}
#start-button {
	background-color: #ea1744;
}
#stop-button {
	background-color: #003546;
}
button span {
	font-weight: 700;
}
body button:hover {
	background-color: #ce143c;
}
.pressed {
	background-color: #ce143c;
}
canvas {
	background-color: #9dc159;
	border: 2px solid #ce143c;
	margin-bottom: 8px;
}
p {
	color: #eaebed;
}
p span {
	font-weight: 700;
}
footer a {
	color: #ce143c;
}
